@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: 'Bitter', serif, system-ui, -apple-system;
  font-size: 1.125rem;
}

body {
  overflow: hidden;
  height: 100vh;
}

body.dark {
  background: radial-gradient(ellipse at bottom -200% right -100%, #fd7313 0%, #090A0F 100%);
}

body.light blockquote {
  border-left-color: #a0aec0;
  /* slate-600 */
}

.small-caps {
  font-variant: small-caps;
}

div.markdown-content img {
  margin: auto;
  display: flex;
  max-width: 90%;
}

div.markdown-content img[src$="#cropped"] {
  object-fit: scale-down;
  width: 600px;
}

div.markdown-content ol,
div.markdown-content ul {
  margin: 1em;
}

div.markdown-content ul {
  list-style-type: "- ";
}

div.markdown-content li {
  margin: 1em;
}

div.markdown-content div.video-embed {
  display: flex;
  width: 100%;
}

div.markdown-content div.video-embed iframe {
  margin: auto;
  width: 600px;
  height: 400px;
}

div.markdown-content h1,
div.markdown-content h2,
div.markdown-content h3,
div.markdown-content h4,
div.markdown-content h5,
div.markdown-content h6 {
  margin: 1rem;
  padding: 1rem;
  font-weight: bolder;
}

div.markdown-content h1 {
  font-size: xx-large;
}

div.markdown-content h2 {
  font-size: x-large;
}

div.markdown-content h3 {
  font-size: larger;
}

div.markdown-content h4 {
  font-size: large;
}

div.markdown-content h5 {
  font-size: medium;
}

div.markdown-content h6 {
  font-weight: bold;
}

div.markdown-content p {
  line-height: 1.625;
  /* Tailwind 'relaxed' */
  margin-top: 1em;
  margin-bottom: 1em;
}

div.markdown-content ul {
  list-style-type: circle;
}

div.markdown-content a {
  text-decoration: underline;
}

div.markdown-content a:hover {
  text-decoration: none;
}

div.markdown-content pre {
  margin: 1rem;
  padding: .5rem;
  overflow-x: scroll;
}

div.markdown-content blockquote {
  margin: 1rem;
  padding: .5rem;
  border-left-style: solid;
  border-left-width: 6px;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: rgb(249, 115, 22);
  text-shadow: 2px 2px black;
}

body.dark pre,
body.dark code,
body.dark blockquote {
  background-color: rgba(17, 17, 17, 9) !important;
}

body.dark pre {
  border: 1px solid white;
  border-top-width: 6px;
}

body.dark blockquote {
  border-left-color: white;
}

.w-120 {
  width: 30rem;
  /* 480px */
}

.w-125 {
  width: 31.25rem;
  /* 500px */
}

.min-w-120 {
  min-width: 30rem;
  /* 480px */
}

.max-h-120 {
  max-height: 30rem;
  /* 480px */
}

.min-w-100 {
  min-width: 25rem;
  /* 400px */
}

.min-h-100 {
  min-height: 25rem;
  /* 400px */
}

.top-50 {
  top: 200px;
}

.w-192 {
  width: 48rem
    /* 768px */
  ;
}

.w-228 {
  width: 57rem
    /* 912px */
  ;
}