* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100%;

  font-family: 'Lato', sans-serif;
  font-size: xx-large;

  h1, h2, h3, h4, h5, h6 {
    margin: 1em;
  }

  p {
    margin: 1em;
    line-height: 1.5em;
  }

  a, a:visited {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  pre, code {
    &, * {
      font-family: monospace;
    }
  }

  pre {
    width: 90%;
    margin: auto;
    padding: .5em;
    white-space: pre-wrap;
  }

  .no-display {
    display: none;
  }

  ion-icon.stylesheet-toggler {
    margin-top: 7px; // Icon is 96px wide, other links are 103px high.
  }

  & > main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    & > div.navbar {
      height: 103px;
      margin-bottom: 1em;
      position: sticky;
      top: 1px;
      width: 100%;

      nav {
        width: 100%;
        position: relative;

        ul {
          list-style-type: none;
          width: 100%;
          display: flex;
          margin: 0;
          padding: 0;

          li {
            flex-flow: row nowrap;

            a, a:visited {
              display: block;
              padding: 1em;
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }

              // &.active {}
            }
          }

          li:last-of-type {
            margin-left: auto;
          }
        }
      }
    }

    table.articles {
      width: 100%;

      font-size: xx-large;

      td {
        line-height: 1.5em;
        padding: .5em;

        &:first-child {
          text-align: right;

          width: 15%;
          padding-right: 1em;
        }

        // &:last-child {}

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        * {
          display: inline-block;
        }
      }

      a.tag {
        display: inline-block;
        text-decoration: none;
      }
    }

    & aside {
      width: 500px;

      font-size: large;

      div.toc {
        position: sticky;
        top: 200px;
        display: flex;

        li a, li a:visited {
          display: inline-block;
          padding: 1em;
          width: 100%;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        ol {
          margin-left: 3em;
        }
      }
    }

    & article {
      max-width: 1000px;

      padding-top: 1em;
      padding-bottom: 1em;

      header {
        text-align: center;

        h1, h2, h3, h4, h5, h6 {
          margin: 0;
          padding: 0;
        }
        p {
          font-size: medium;
        }
      }

      img {
        margin: auto;
        display: flex;
        max-width: 90%;
      }

      img[src$="#cropped"] {
        object-fit: scale-down;
        width: 600px;
      }

      ol, ul {
        margin: 1em;
      }

      ul {
        list-style-type: "- ";
      }

      li {
        margin: 1em;
      }
    }

    a.tag {
      display: block;
      font-family: "Courier New", monospace, sans-serif;
      text-decoration: none;
    }

    div.tag-cards {
      display: flex;
      flex-flow: row wrap;

      div.tag-card {
        margin-right: 1ex;

        a {
          padding: 1em;

          // &:hover {}
        }
      }
    }

    div.main-content {
      width: 90%;
      margin: auto;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      @media screen and (max-width: 1499px) {
        flex-flow: column wrap;

        aside .toc {
          position: static;
        }

        aside, article {
          width: 100%;
          max-width: 100%;
        }
      }

      .lonely {
        width: 100%;
        max-width: 100%;
      }
    }

    footer {
      padding: 1em;

      text-align: center;

      * {
        font-size: medium;
      }
    }
  }
}
