* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100%;

  font-family: 'Lato', sans-serif;
  font-size: large;

  h1, h2, h3 {
    margin: .5em;
    padding: .5em;
  }

  h4, h5, h6 {
    margin: .5em;
  }

  p {
    margin: 1em;
    line-height: 1.5em;
  }

  a, a:visited {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  pre, code {
    &, * {
      font-family: monospace;
    }
  }

  pre {
    width: 90%;
    margin: auto;
    padding: .5em;
    white-space: pre-wrap;
  }

  #glcanvas {
    margin: auto;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    z-index: 10;
  }

  .no-display {
    display: none;
  }

  ion-icon.stylesheet-toggler {
    margin-top: 7px; // Icon is 96px wide, other links are 103px high.
  }

  & > main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    & > div.navbar {
      height: 50px;
      position: sticky;
      top: -1px; // With 0px, position: sticky isn't applied.
      width: 90%;
      margin: auto;
      margin-bottom: 1em;

      nav {
        height: 100%;
        width: 100%;
        position: relative;

        ul {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 99%;
          margin: auto;
          padding: 0;

          list-style-type: none;

          li {
            a, a:visited {
              display: inline-block;
              padding: 5px 16px;
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }

              border: 1px solid;
              border-radius: 6px;
              border-color: transparent;

              // &.active {}
            }

            a.css-switch {
              padding: 5px;
            }

            &.spotify-embed {
              padding-top: 12px;
              padding-bottom: 0;
              padding-left: 1em;
              padding-right: 1em;
            }
          }

          li:last-of-type {
            margin-left: auto;
          }
        }
      }
    }

    table.articles {
      width: 100%;

      font-size: large;

      td {
        line-height: 1.5em;
        padding: .5em;

        &:first-child {
          text-align: right;

          min-width: 6em;
          padding-right: 1em;
        }

        // &:last-child {}

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      a.tag {
        display: inline-block;
        text-decoration: none;
      }
    }

    & aside {
      width: 500px;

      font-size: large;

      div.toc {
        position: sticky;
        top: 200px;
        display: flex;

        li a, li a:visited {
          display: inline-block;
          padding: .5em;
          width: 100%;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        ol {
          margin-left: 3em;
        }
      }
    }

    & article {
      max-width: 1000px;

      padding-top: 1em;
      padding-bottom: 1em;

      header {
        text-align: center;

        p {
          font-size: medium;
        }
      }

      img {
        margin: auto;
        display: flex;
        max-width: 90%;
      }

      img[src$="#cropped"] {
        object-fit: scale-down;
        width: 600px;
      }

      div.video-embed {
        display: flex;
        width: 100%;

        iframe {
          margin: auto;
          width: 600px;
          height: 400px;
        }
      }

      ol, ul {
        margin: 1em;
      }

      ul {
        list-style-type: "- ";
      }

      li {
        margin: 1em;
      }
    }

    div.tag-cards {
      display: flex;
      flex-flow: row wrap;
      margin: auto;
      width: 80%;

      div.tag-card {
        margin-right: 1ex;

        a {
          padding: 5px 16px;
          display: inline-block;
          text-decoration: none;

          border-radius: 6px;
        }
      }
    }

    div.main-content {
      width: 90%;
      margin: auto;
      margin-top: 2em;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      @media screen and (max-width: 1499px) {
        flex-flow: column wrap;

        aside .toc {
          position: static;
        }

        aside, article {
          width: 100%;
          max-width: 100%;
        }
      }

      .lonely {
        width: 100%;
        max-width: 100%;
      }
    }

    footer {
      padding: 1em;

      text-align: center;

      * {
        font-size: medium;
      }
    }
  }

  .giscus-frame {
    display: block;
    margin: auto;
    width: 90%;
  }
}
