$black: #171717;
$black_less_transparent: rgba(17, 17, 17, .9);
$black_transparent: rgba(17, 17, 17, .7);
$redish: #c12900;

$orange: #e37226;
$orange-light: #fd7313;
$orange-deep: #f36115;

$grey: #ddd;
$olive-light: #87b22a;

body.dark {
  .light-only {
    display: none;
  }

  // Pretty, but tedious.
  // @keyframes smoothOpacity {
  //   from {
  //     opacity: 0;
  //   }

  //   to {
  //     opacity: 100;
  //   }
  // }

  // animation: smoothOpacity 1s ease;
  // animation-fill-mode: forwards;

  background: radial-gradient(ellipse at bottom -200% right -100%, $orange-light 0%, #090A0F 100%);
  color: white;

  h1, h2, h3, h4, h5, h6 {
    color: $orange-light;
    text-shadow: 2px 2px black;
  }

  a, a:visited {
    color: $orange-light;

    &:hover {
      color: $orange-deep;
      background-color: $black;
    }
  }

  pre, code {
    background-color: $black_less_transparent !important;
  }

  pre {
    border: 1px solid white;
    border-top-width: 6px;
  }

  & > main {
    & > div.navbar {
      nav {
        background-color: $black_transparent;

        ul {
          li {
            a, a:visited {
              &:hover {
                background-color: $orange-light;
                color: $black;
              }

              &.active {
                color: white;
              }
            }
          }
        }
      }
    }

    & aside {
      background-color: $black_transparent;

      div.toc {
        li a {
          &:hover {
            color: white;
            background-color: transparent;
          }
        }
      }
    }

    & article {
      background-color: $black_transparent;
    }

    div.tag-cards {
      div.tag-card {
        border: 1px solid #111;

        a {
          &:hover {
            background-color: $orange-deep;
            color: $black;
          }
        }
      }
    }
  }

  /*
    Stars background, shamelessly copy/pasted and adapted from:
    https://codepen.io/saransh/pen/BKJun
  */

  @function multiple-box-shadow($n, $color) {
    $value: '#{random(2000)}px #{random(2000)}px ' + $color;

    @for $i from 2 through $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px ' + $color;
    }

    @return unquote($value);
  }

  $shadows-small: multiple-box-shadow(700, #fff);
  $shadows-medium: multiple-box-shadow(200, #999);
  $shadows-large: multiple-box-shadow(100, #666);

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-2000px);
    }
  }

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;

    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;

    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;

    box-shadow: $shadows-large;
    border-radius: 100%;
    animation: animStar 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-large;
      border-radius: 100%;
    }
  }
}

#stars, #stars2, #stars3 {
  position: absolute;
}
