body.dark {
  /*
    Stars background, shamelessly copy/pasted and adapted from:
    https://codepen.io/saransh/pen/BKJun
  */

  @function multiple-box-shadow($n, $color) {
    $value: '#{random(2000)}px #{random(2000)}px ' + $color;

    @for $i from 2 through $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px ' + $color;
    }

    @return unquote($value);
  }

  $shadows-small: multiple-box-shadow(700, #fff);
  $shadows-medium: multiple-box-shadow(200, #999);
  $shadows-large: multiple-box-shadow(100, #666);

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-2000px);
    }
  }

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;

    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;

    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;

    box-shadow: $shadows-large;
    border-radius: 100%;
    animation: animStar 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-large;
      border-radius: 100%;
    }
  }
}

#stars,
#stars2,
#stars3 {
  position: absolute;
  z-index: -1;
}