@import "_base.scss";

$black: #171717;
$white: #eee;

$blue: #184970;
$blue-light: #1164A3;
$blue-darker: #0d283f;

$olive-light: #87b22a;
$olive-deep: #61801e;
$redish: #c12900;

$border-radius: 0px;
// $border-radius: 12px;

body.light {
  background-color: $blue;
  color: $black;

  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  a, a:visited {
    color: $blue;

    &:hover {
      color: $blue-light;
      background-color: $white;
    }
  }

  code {
    background-color: #ccc !important;
    padding: 4px;
  }

  pre code {
    background-color: #333 !important;
  }

  pre {
    background-color: #333 !important;
    border: 1px solid black;
    border-top-width: 6px;
  }

  & > main {
    & > div.navbar {
      nav {
        background-color: $white;

        ul {
          li {
            a, a:visited {
              &:hover {
                background-color: $blue-light;
                color: $white;
              }

              &.active {
                color: black;
              }
            }
          }
        }
      }
    }

    & aside {
      background-color: $white;
      border: 1px solid $white;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      @media screen and (max-width: 1499px) {
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      div.toc {
        li a {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    & article {
      background-color: $white;
      border: 1px solid $white;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      @media screen and (max-width: 1499px) {
        border-radius: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }

    div.tag-cards {
      div.tag-card {
        border: 1px solid #111;

        a {
          &:hover {
            background-color: $blue-light;
            color: $white;
          }
        }
      }
    }

    div.main-content {
      aside, article {
        border-collapse: collapse;
        border: 1px solid black;
        box-shadow: 10px 10px 2px 2px $blue-darker;

        border-radius: $border-radius;
      }

      aside {
        border-bottom: 0;
        border-right: 0;
      }
    }

    div.flex.row {
      .lonely {
        border-radius: $border-radius;
      }
    }
  }
}
