@import "_base.scss";

$black: 171717;
$white: #eee;
$white_less_transparent: rgba(238, 238, 238, .9);
$white_transparent: rgba(238, 238, 238, .7);

$grey: #ddd;
$olive-light: #87b22a;
$olive-deep: #87b22a;
$redish: #c12900;

body.light {
  background: none; // Reset dark mode background.
  background-color: $grey;
  color: $black;

  h1, h2, h3, h4, h5, h6 {
    color: $olive-deep;
    text-shadow: 2px 2px $black;
  }

  a, a:visited {
    color: $olive-deep;

    &:hover {
      color: $olive-light;
      background-color: $white;
    }
  }

  pre, code {
    background-color: $white !important;
  }

  pre {
    border: 1px solid black;
    border-top-width: 6px;
  }

  & > main {
    & > div.navbar {
      background-color: $white_transparent;

      nav {
        ul {
          li {
            a, a:visited {
              &:hover {
                background-color: $olive-deep;
                color: $white;
              }

              &.active {
                color: black;
              }
            }
          }
        }
      }
    }

    & aside {
      background-color: $white_transparent;

      div.toc {
        li a {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    & article {
      background-color: $white_transparent;
    }

    div.tag-cards {
      div.tag-card {
        border: 1px solid #111;

        a {
          &:hover {
            background-color: $olive-light;
            color: $white;
          }
        }
      }
    }
  }
}
