<aside class="w-full lg:w-3/12">
  <div class="sticky flex flex-col top-50">
    <div class="bg-slate-100 border border-slate-300 px-2 py-3 rounded-md dark:bg-black dark:bg-opacity-40 dark:border-slate-700">
      <p class="text-xs font-bold uppercase tracking-wider text-slate-500 mb-2 px-1">Table of Contents</p>
      <ol class="w-full m-0 pl-5 list-decimal space-y-1 marker:text-xs">
        {% for h1 in page.toc %}
        <li>
          {{ macros::link(href=h1.permalink, title=h1.title) }}
          {% if h1.children %}
          <ol class="list-[lower-alpha] pl-4 space-y-1 marker:text-xs">
            {% for h2 in h1.children %}
            <li>{{ macros::link(href=h2.permalink, title=h2.title) }}</li>
            {% endfor %}
          </ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</aside>
