<div class="
    sticky top-0 z-10
    w-11/12 m-auto mt-4 mb-2 p-1
    rounded-md bg-surface border border-token shadow-sm
">
  <nav class="w-full relative">
    <ul class="w-full m-auto p-0 flex flex-row flex-nowrap justify-center items-center list-none gap-1">
      {% for link in config.extra.nav_links | default(value=[]) %}
      <li>
        <a class="nav-link" href="{{ link.path }}">{{ link.title }}</a>
      </li>
      {% endfor %}
      {% if config.extra.enable_dark_mode_toggle | default(value=false) %}
      <li class="ml-auto">
        <a class="nav-link cursor-pointer select-none" onClick="switchStylesheets()">
          <ion-icon class="stylesheet-toggler inline-block dark:hidden h-5 w-5 align-middle" name="moon"></ion-icon>
          <ion-icon class="stylesheet-toggler hidden dark:inline-block h-5 w-5 align-middle" name="sunny"></ion-icon>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
