{% macro articles_list(title, subtitle, list) %}
<article class="w-full">
  <table class="w-full">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">
          <h1 class="m-2 p-2 inline-block font-bold text-2xl">{{ title }}</h1>
          <aside
            class="m-2 p-2 inline-block font-normal dark:font-thin dark:text-white text-black">
            {{ subtitle }}
          </aside>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for list_item in list %}
      <tr class="leading-10">
        <td class="w-1/6 p-0.5 pr-2 text-right dark:text-white">{{
          list_item.date }}</td>
        <td class="w-5/6">
          <a class="
              underline hover:no-underline
              dark:text-orange-500 dark:hover:text-orange-500 dark:hover:bg-neutral-900"
            href="{{ list_item.permalink | safe }}">{{ list_item.title }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endmacro articles_list %}