{% import "components/_badge.html" as badge_macro %}

{% macro articles_list(title, subtitle, list) %}
<article class="w-full">
  <table class="w-full">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">
          <h1 class="m-2 p-2 inline-block font-bold text-2xl">{{ title }}</h1>
          <p class="m-2 p-2 inline-block font-normal dark:text-white text-black">
            {{ subtitle }}
          </p>
          <p class="m-2 p-2">
            <a href="/atom.xml"
              class="inline-block text-orange-500 hover:text-orange-600 dark:text-orange-500 dark:hover:text-orange-400 underline hover:no-underline"
              title="Subscribe to Atom feed">
              Atom
            </a>
            <span class="text-white">&middot;</span>
            <a href="/rss.xml"
              class="inline-block text-orange-500 hover:text-orange-600 dark:text-orange-500 dark:hover:text-orange-400 underline hover:no-underline"
              title="Subscribe to RSS feed">
              RSS
            </a>
          </p>

        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for list_item in list %}
      <tr class="leading-10">
        <td class="w-1/6 p-0.5 pr-2 text-right dark:text-white font-mono">{{
          list_item.date }}</td>
        <td class="w-4/6">
          <a class="
              underline hover:no-underline
              dark:text-orange-500 dark:hover:text-orange-500 dark:hover:bg-neutral-900"
            href="{{ list_item.permalink | safe }}">{{ list_item.title }}</a>
        </td>
        <td>
          {% if "tip" in list_item.taxonomies["tags"] %}
          {{ badge_macro::badge(href="/tags/tip", title="Tip") }}
          {% elif "tutorial" in list_item.taxonomies["tags"] %}
          {{ badge_macro::badge(href="/tags/tutorial", title="Tutorial") }}
          {% elif "opinion" in list_item.taxonomies["tags"] %}
          {{ badge_macro::badge(href="/tags/opinion", title="Opinion") }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endmacro articles_list %}