<html lang="en">

<head>
  <meta charset="UTF-8">
  {% set default_description = "My personal website with tips and rants." %}

  {% if page is defined and page.title is string and page.title != "" %}
  <title>{{ page.title }}</title>
  {% elif section is defined and section.title is string and section.title != ""
  %}
  <title>{{ section.title }}</title>
  {% else %}
  <title>Maxime Buffa</title>
  {% endif %}

  {% if page is defined and page.description is string and page.description !=
  "" %}
  {% set meta_description = page.description %}
  {% elif section is defined and section.description is string and
  section.description != "" %}
  {% set meta_description = section.description %}
  {% else %}
  {% set meta_description = default_description %}
  {% endif %}

  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap"
    rel="stylesheet">

  <link class="stylesheet" rel="stylesheet" href="/main.css" />
  <link class="stylesheet" rel="stylesheet" href="/dark.css" />

  <meta name="description" content="{{ meta_description }}" />
</head>

<body class="stylesheet-mode" onload="loadActiveStylesheet()">
  <script type="text/javascript">
    function getStylesheetModeTags() {
      return document.getElementsByClassName("stylesheet-mode");
    }

    function getStylesheetTogglerTags() {
      return document.getElementsByClassName("stylesheet-toggler");
    }

    function loadActiveStylesheet() {
      var activeStylesheet = localStorage.getItem("active-stylesheet");

      if (["dark", "light"].indexOf(activeStylesheet) == -1) {
        activeStylesheet = "dark";
      }

      var classes = "stylesheet-mode " + activeStylesheet;

      for (elem of getStylesheetModeTags()) {
        elem.setAttribute("class", classes);
      }

      updateGiscusStyle(activeStylesheet);
    }

    function getIconNameForMode(mode) {
      if (mode == "dark") {
        return "sunny";
      }
      return "moon";
    }

    function sendToIframe(iframe, message, url) {
      iframe.contentWindow.postMessage(message, url);
    }

    function sendToGiscus(message) {
      var iframe = document.querySelector("iframe.giscus-frame");

      // WORKAROUND:
      // If the iframe is loaded, we apply the new theme instantly.
      // If it's not, then we delay the loading, so that the default "dark"
      // theme won't override it once the iframe is loaded (on first page load).
      // SHORTCOMINGS:
      // This can display a dark Giscus inside a light page for a few seconds...
      // But it prevents displaying a broken form or duplicating the iframe.
      if (iframe) {
        sendToIframe(iframe, { giscus: message }, "https://giscus.app");
      } else {
        setTimeout(sendToGiscus, 3000, message)
      }
    }

    function updateGiscusStyle(mode) {
      var theme = mode == "dark" ? "dark" : "light";

      sendToGiscus({
        setConfig: {
          theme: theme
        }
      });
    }

    function switchStylesheets() {
      var activeMode = "dark";

      for (elem of getStylesheetModeTags()) {
        switch (elem.className) {
          case "stylesheet-mode dark":
            activeMode = "light";
            break;

          case "stylesheet-mode light":
            activeMode = "dark";
            break;

          default:
            activeMode = "dark";
            break;
        }

        elem.setAttribute("class", "stylesheet-mode " + activeMode);
      }

      localStorage.setItem("active-stylesheet", activeMode);
      updateGiscusStyle(activeMode);
    }
  </script>

  <script type="text/javascript">loadActiveStylesheet();</script>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <main class="
      m-auto max-w-full h-screen overflow-y-scroll overflow-x-hidden
      text-black dark:text-white
    ">
    <div class="w-228 max-w-screen m-auto p-4">
      {% include "layout/navbar.html" %}

      <div class="
        w-11/12 m-auto mt-2 p-4
        flex justify-center
        flex-col flex-wrap
        lg:flex-row lg:flex-nowrap
        dark:bg-black dark:bg-opacity-60
    ">
        {% block content %} {% endblock %}
      </div>

      {% include "layout/footer.html" %}
    </div>
    <!-- Fix to avoid scrolling "under the overflow break" when using a ToC link.
    <br>
  </main>

  <!-- Heap Analytics loader -->
    <script type="text/javascript">
      window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = document.createElement("script"); r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(r, a); for (var n = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], o = 0; o < p.length; o++)heap[p[o]] = n(p[o]) };
      heap.load("4008293954");
    </script>
    <script
      src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <script type="module"
      src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>