{% extends "base.html" %}

{% block content %}
  <h1>{{ section.title }}</h1>

  <table class="articles">
    <tbody>
      {% for page in section.pages %}
      <tr>
        <td>{{ page.date }}</td>
        <td>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </td>
        <td>
          {% for tag in page.taxonomies["tags"] %}
            <div>
              <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a>
            </div>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}