{% extends "base.html" %}

{% block content %}
  <article class="lonely">
    <header>
      <h1 class="title">{{ section.title }}</h1>
    </header>

    <table class="articles">
      <tbody>
        {% for page in section.pages %}
        <tr>
          <td>{{ page.date }}</td>
          <td>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
          </td>
          <td>
            {% for tag in page.taxonomies["tags"] %}
              <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock content %}