<html lang="en">
<head>
  <meta charset="UTF-8">
  {% set default_description = "My personal website with tips and rants." %}

  {% if page is defined and page.title is string and page.title != "" %}
    <title>a {{ page.title }}</title>
  {% elif section is defined and section.title is string and section.title != "" %}
    <title>b {{ section.title }}</title>
  {% else %}
    <title>Maxime Buffa</title>
  {% endif %}

  {% if page is defined and page.description is string and page.description != "" %}
    {% set meta_description = page.description %}
  {% elif section is defined and section.description is string and section.description != "" %}
    {% set meta_description = section.description %}
  {% else %}
    {% set meta_description = default_description %}
  {% endif %}

  <!-- <link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/base.css" />

  <meta name="description" content="{{ meta_description }}" />
</head>
<body>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <main>
    <div class='navbar'>
      <nav>
        <ul>
        {% set navbar = load_data(path="content/navbar.csv") %}
        {% for link in navbar["records"] %}
          <li><a href="{{ link.0 }}">{{ link.1 }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="main-content">
      <div class="flex row">
        {% block content %} {% endblock %}
      </div>
    </div>

    <footer>
      <span>
        Proudly written with
        <a href="https://www.getzola.org/" target="_blank">Zola</a>
      </span>
    </footer>
    <br>
  </main>
  <script type="text/javascript" src = "https://api.123metrics.com/123metrics.js" async defer></script>
</body>
</html>
