<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- Workaround for parcel live reload -->
  <!-- https://github.com/parcel-bundler/parcel/issues/943 -->
  <title>Maxime Buffa</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/base.css" />
</head>
<body>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <main>
    <nav id='navbar'>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/tips/">Tips</a></li>
        <li><a href="/opinions/">Opinions</a></li>
        <li><a href="/tags/">Tags</a></li>
      </ul>
    </nav>
    <article>
      <section>
        {% block content %} {% endblock %}
      </section>
    </article>
  </main>
</body>
</html>
