{% extends "base.html" %}

{% block content %}

{% if page.toc | length > 1 %}
<aside>
  <div class="toc">
    <ol>
      {% for h1 in page.toc %}
      <li>
        <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
        <ol>
          {% for h2 in h1.children %}
          <li>
            <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
</aside>
{% endif %}

{% if page.toc | length == 1 %}
<article class="lonely">
{% else %}
<article>
{% endif %}
  <header>
    <h1 class="title">
      {{ page.title }}
    </h1>
    {% if page.date %}
    <p class="subtitle">
      Published on {{ page.date | date(format="%Y-%m-%d") }}
    </p>
    {% endif %}
  </header>

  {% if page.extra.wasm is defined %}
    <div class=""video-embed">
      <canvas id="glcanvas" tabindex='1'></canvas>
    </div>
    <script src="https://not-fl3.github.io/miniquad-samples/mq_js_bundle.js"></script>
    <script>load("{{ page.extra.wasm | safe }}");</script>
  {% endif %}

  {% if page.extra.url is defined %}
    <iframe id="iframe" src="{{ page.extra.url }}" width="800" height="600"></iframe>
  {% endif %}

  {% if page.extra.screenshot is defined %}
    <img src="{{ page.extra.screenshot | safe }}" />
  {% endif %}

  <p>{{ page.content | safe }}</p>
  <script src="https://giscus.app/client.js" data-repo="mbuffa/mbuffa.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyNDYzOTIyNjU=" data-category="Announcements" data-category-id="DIC_kwDODq-lyc4CAZ1r"
    data-mapping="title" data-reactions-enabled="1" data-emit-metadata="0" data-theme="dark" data-lang="en"
    crossorigin="anonymous" async>
  </script>
</article>
{% endblock content %}