<div class="sticky h-12 w-11/12 m-auto mb-1 -top-px">
  <nav class="h-full w-full relative">
    <ul class="w-full h-full m-auto p-0 flex flex-row flex-nowrap justify-center items-center list-none">
    {% set navbar = load_data(path="content/navbar.csv") %}
    {% for link in navbar["records"] %}
      <li>
        <a class="inline-block no-underline p-4 pt-1 pb-1 hover:no-underline border border-solid rounded-md border-transparent"
           href="{{ link.0 }}"
        >{{ link.1 }}</a>
      </li>
    {% endfor %}
      <li class="ml-auto">
        <a class="inline-block no-underline p-1 hover:no-underline border border-solid rounded-md border-transparent" onClick="switchStylesheets()">
          <ion-icon class="stylesheet-toggler no-display" name="moon"></ion-icon>
          <ion-icon class="stylesheet-toggler no-display" name="sunny"></ion-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>